/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ranchers', cursive;    
  }
  body,html{
    height: 100vh;
   
  }
  .container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: thistle;
    height: 100%;
    
  }
  .image-asset{
    border-radius: 50%;
    margin: 10px;
  }
  
  button{
    padding: 10px;  
    border: 1px solid black;
    font-size: 20px;
    border-radius: 8px;
    padding: 1em;
    font-size: 1em;
    background-color: thistle;
    transition: 0.3s;
    margin: 10px;
  }
  button:hover{
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0px 2px 5px thistle;
  }