<div>
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Personal Details">
       <mat-card>
           name
       </mat-card>
       <mat-card>
        name
    </mat-card>
   
    <mat-card>
        name
    </mat-card>
   
    <mat-card>
        name
    </mat-card>
   
        </mat-tab>
        <mat-tab label="Hobbies">
            <mat-list>
                <mat-list-item>Hobby</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>hobby</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Hobby</mat-list-item>
              </mat-list>
        </mat-tab>
        
      </mat-tab-group>
</div>
