<div>
    <table width="100%">
        <tr>
            <td width="80%">
                <h1>Users</h1>
            </td>
            <td>
                <button mat-raised-button>Add New User</button>
            </td>
        </tr>
    </table>
</div>

<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Select any one user
        </mat-panel-title>
       </mat-expansion-panel-header>
        <div>
         <!-- <div mat-raised-button  id="item" *ngFor="let val of value"> -->
         
             <!-- Username : {{val.username}}
             &nbsp;&nbsp;&nbsp;&nbsp;
             Email : {{val.email}}  
             &nbsp;&nbsp;&nbsp;&nbsp;
             Contact No. : {{val.contact_no}}
             &nbsp;&nbsp;&nbsp;&nbsp;
             <button >View User</button>
             <hr>
             test
             <hr> -->
             test
             <hr>
             test
         </div>
         
     
        </mat-expansion-panel>
</mat-accordion>
<!-- 
    <mat-form-field appearance="fill">
        <mat-label>  Select any one user</mat-label>
        <mat-select>
            <option value="" selected></option>
          <mat-option *ngFor="let val of value"> 
            Username : {{val.username}}
            &nbsp;&nbsp;&nbsp;&nbsp;
            Email : {{val.email}}  
            &nbsp;&nbsp;&nbsp;&nbsp;
            Contact No. : {{val.contact_no}}
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button >View User</button>
          </mat-option> 
        <mat-option> 1 </mat-option>
        <mat-option> 1 </mat-option>
        <mat-option> 1 </mat-option>
        <mat-option> 1 </mat-option>
       
        </mat-select>
    </mat-form-field>
       -->
